<html>
<head><title>$title</title></head>
<body>
$contents
 #for question in questions: 
  $question.title <br/>
 #end for
## this is a single-line Cheetah comment and won't appear in the output
#* This is a multi-line comment and won't appear in the output
   blah, blah, blah 
*#
</body>
</html>
