#encoding UTF-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="poutine" />
<title>$title</title>
<link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
<script src="static/js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	jQuery(function(){
		questions.init();
		answers.init();
	});
</script>
</head>
<body>
<h1>$title</h1>
<!-- <a href="/?action=add">New Question</a> -->
<form action="http://questionlinks/?action=add" method="post" accept-charset="utf-8" id="addquestion">
	<label for="question">New Question: </label>
	<input type="text" name="question" value="" id="question"/>
	<input type="submit" value="Add"/>
</form>
<ul id="questions">
#for $question in $questions: 
	<li class="question">
	<a href="/?action=delete&id=${question.id}" class="btn">Delete Question</a> |
	<a href="/?action=add_answer&id=${question.id}" class="newanswer btn">New Answer</a> |
	<a href="#" class="showanswer btn">Show Answers</a>&nbsp;
	${question.question}
	
	#if question.answers:
		<ul class="answers">
			#for $answer in question.answers:
				<li class="answer">
				<a href="/?action=deleteanswer&id=${answer.id}" class="btn">Delete Answer</a>&nbsp;
				#if answer.answer_link:
					<a href="${answer.answer_link}" class="answer_link" target="_blank">${answer.answer_link}</a>
				#end if
				<div class="answer_text">
					${answer.answer_text}
				</div>
				</li>
			#end for
		</ul>
	#end if
	<form action="/?action=addanswer&id=${question.id}" method="post" accept-charset="utf-8">
		<table>
			<tr>
				<td><label for="link">link</label></td>
				<td><input type="text" name="link" value="" id="link"/></td>
			</tr>
			<tr>
				<td><label for="text">text</label></td>
				<td><textarea name="text"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td align="right">
					<input type="hidden" name="question_id" value="${question.id}" id="question_id"/>
					<input type="submit" value="Add"/>
				</td>
			</tr>
		</table>
	</form>
	</li> 
#end for
</ul>
## this is a single-line Cheetah comment and won't appear in the output
#* This is a multi-line comment and won't appear in the output
   blah, blah, blah 
*#
</body>
</html>
